<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" th:href="@{/index}">Главная</a>
						<a class="nav-item nav-link" th:href="@{/accidents}">Инциденты</a>
						<a class="nav-item nav-link" th:href="@{/accidents/create}">Добавить Инцидент</a>
					</div>
				</div>
			</div>
			<div class="d-flex">
				<a class="nav-link text-secondary me-3" href="#" th:text="${user.username}"></a>
				<a class="nav-link text-secondary me-3" href="/logout">logout</a>
			</div>
	</div>
	</nav>
	</div>
</body>

</html>